
/*
* Whackamole CSS
*/

    #wrapper {

        width: 800px;
        margin: 0 auto;
    }

    .div-row {

        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border: 1px solid #734d26;
        border-radius: 5px;
        width: 800px;
        background-color: #734d26;
    }

    .mole {

        position: relative;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-mole {

        position: relative;
        top: 35px;
        
    }

    .img-tuft {
        position: absolute;
        bottom: 0px;
    }

    h3 {

        display: hidden;
        color: yellow;
        font-size: 25px;
        width: 300px;
    }

    body {
        background-color: black;
        font-family: Comic Sans, Comic Sans MS, cursive;
    }

    #control-div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 50px;
        width: 800px;
    }

    #start {
        height: 48px;
        width: 100px;
        font-size: 15px;
        background-color: orange;
        font-family: Comic Sans, Comic Sans MS, cursive;
    }

    .green {

        background-color: green;
    }

    #round,
    #score,
    #time {

        background-color: lightyellow;
        font-size: 25px;
        color: red;
        text-align: center;
        width: 200px;
    }

    #playAgain {

        color: red;
        background-color: lightyellow;
        font-size: 25px;
        width: 70px;

    }

    #effects {

        position: relative;
        bottom: 500px;
        left: 100px;
        font-size: 80px;
        width: 650px;
        margin: 0 auto;
    }

